	input,
	button {
	    margin: 7px;
	    clear: both;
	}

	input {
	    float: left;
	}

	.tab-pane {
	    height: 300px;
	    overflow-y: scroll;
	    width: 100%;
	}

	span#chat-history {
	    max-height: 200px;
	}

	body {
	    align-content: center;
	}

	/* form#name-form {
        visibility: hidden;        
	    color: black;
	} */